.nav-title {
    display: flex;
    flex-direction: left;
    float: left;
    color: white;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-around;
}

.nav-links {
    display: flex;
    flex-direction: row;
}

li {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 8pt !important;
    font-weight: 200 !important;
    font-stretch: condensed !important;
}

.btn {
    margin-top: 23px;
    background-color: rgb(67, 153, 252);
    text-align: center;
    box-shadow: 0px 0px 0px 3px;
    width: 70px;
    height: 45px;
}

.nav-links a:hover {
    background-color: #ddd;
    color: black;
}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}


.bloque1 {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 0px 2px rgb(156, 154, 156);
    width: 580px;
    height: 300px;
    position: relative;
    margin-top: 20px;
    margin-left: 180px;

}

.bloque2 {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 0px 2px rgb(156, 154, 156);
    width: 380px;
    height: 220px;
    position: relative;
    margin-top: -300px;
    margin-left: 780px;
}

.bloque3 {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 0px 2px rgb(156, 154, 156);
    width: 580px;
    height: 200px;
    position: relative;
    margin-top: 100px;
    margin-left: 180px;
}

.bloque4 {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 0px 2px rgb(156, 154, 156);
    width: 380px;
    height: 350px;
    position: relative;
    margin-top: -270px;
    margin-left: 780px;
}

.banner {
    background-color: #333;
    width: auto;
    height: 50px;
}

.banner2 {
    background-color: #025483;
    width: auto;
    height: 120px;
}

.image {
    width: 90px;
    height: 90px;
    position: absolute;
    margin-top: -60px;
    margin-left: 30px;
}

.image2 {
    width: 17px;
    height: 20px;

}

ul {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    color: white;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.dot {
    height: 25px;
    width: 25px;
    color: #000;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #807e7e;
    border-radius: 50%;
}

.dot2 {
    height: 25px;
    width: 50px;
    color: #000;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #807e7e;
    border-radius: 50%;
}
.dot3 {
    height: 25px;
    width: 25px;
    color: #ffffff;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #807e7e;
    border-radius: 50%;
}

.lista {
    color: #000;
    display: flex;
    flex-direction: row;
}

.lista2 {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: -50px;
    color: #000;

}

.lista3 {
    position: absolute;
    display: flex;
    justify-content: center;
    color: #000;
    margin-left: 38px;
    margin-top: -18px;
}


.lugar {
    position: absolute;
    margin-left: -5px;
}

.name {
    color: #000;
    font-size: larger;
}

h2 {
    color: #000;
    font-size: small;
}

p {
    flex: 1;
    flex-basis: 10%;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: small;
}
.tuerca {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 38px;
    margin-left: 40px;
}
.link {
    position: absolute;
    margin-top: 33px;
    margin-left: 70px;
}
.celda1{
    background-color: #ffffff;
    width: 60px;
    height: 60px;
}
.celda2{
    background-color: #ffffff;
    width: 100px;
    height: 60px;
    font-weight: bold;
}
.celda3{
    background-color: #ffffff;
    width: 80px;
    height: 60px;
}
.table4{
    position: absolute;
    margin-top: 20px;
    margin-left: 50px;
}
.imageprofile{
    width: 60px;
    height: 60px;
}
.gg-close {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 40px
}
.education{
    margin-left: 50px;
    margin-top: 30px;
    
}
.dojo {
    font-size: 20px;
}
.dojo2{
    font-size: 15px;
    color: #807e7e;
}
.dojo3{
    font-size: 12px;
    font-weight: bold;
}